.order__checkbox {
  display: none;
}

.order__checkbox-label {
  position: relative;
  padding-left: 55px;
}
.order__checkbox-checkmark {
  position: absolute;
  display: inline-block;
  left: 0;
  top: -18px;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 15px;
  text-align: center;
}

.order__checkbox-checkmark:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.order__checkbox-checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.order__checkbox:checked + .order__checkbox-checkmark::after {
  display: block;
}

.order__checkbox-label .order__checkbox-checkmark::after {
  left: 12px;
  top: 8px;
  width: 6px;
  height: 13px;
  border: solid black;
  border-width: 0 3px 3px 0;
  border-radius: 3px;
  transform: rotate(45deg);
}