.order {
  min-width: 1015px;
  background-color: #ffcb78;
  padding-top: 1px;
  padding-bottom: 110px;
}

.order__heading {
  margin-top: 80px;
  margin-bottom: 75px;
}

.order__text {
  width: 660px;
  margin-bottom: 70px;
}