.new-items {
  background-color: white;
  padding-bottom: 100px;
}

.new-items__heading_main {
  margin-top: 79px;
  margin-bottom: 76px;
}

.new-items__heading_mini {
  padding-bottom: 30px;
}

.new-items__column {
  position: relative;
  float: left;
  width: 338px;
  padding-left: 35px;
  padding-right: 25px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.new-items__column:last-child {
  border-left: 0;
  width: 339px;
}

.new-items__info {
  position: absolute;
  top: 85px;
  right: 0;

  width: 150px;
  padding-right: 25px;
}

.new-items__ingredients {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
}

.new-items__img {
  float: left;
  padding-left: 10px;
  padding-bottom: 9px;
}
