.button {
  display: inline-block;
  word-wrap: break-word;
  padding: 13px 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 60px;
}