.button_read {
  color: #a5a097;
  border: 2px solid #a5a097;
  margin: 0;
}

.button_read:hover {
  color: white;
  background-color: #a5a097;
}

.button_read:active {
  color: #b5b2ad;
  background-color: #8f8a81;
  border: 2px solid #8f8a81;
}